<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="llamada()">
          <ion-icon name="call"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="irperfil()">
      <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-button>
    <ion-button slot="start" (click)="irinicio()">
      <ion-icon slot="icon-only" name="home" ></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="irbuscar()">
      <ion-icon slot="icon-only" name="search" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
