ion-header {
  --ion-background-color: #c5e1a5;
}
ion-fab-button {
  --background: #c5e1a5;
  --background-hover: #9ccc65;
}
ion-button {
  --background: #9ccc65;
}
ion-footer {
  --ion-background-color: #c5e1a5;
}
.centrado {
  text-align: center;
}
