<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ISBN</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.ISBN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Autor</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.autor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-input [(ngModel)]="documentLibro.data.idioma"></ion-input>
    </ion-item>
    <ion-img [src]="documentLibro.data.url"></ion-img>
    <ion-button id="modificar" (click)="clicBotonModificar()" >Modificar Libro</ion-button>
    <ion-button id="borrar" (click)="presentAlertConfirm()">Borrar Libro</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="irperfil()">
      <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="irbuscar()">
      <ion-icon slot="icon-only" name="search" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
