<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelarmod()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-img [src]="documentLibro.data.url"></ion-img>
        </ion-col>
        <ion-col>
          <ion-item>            
            <ion-input [(ngModel)]="documentLibro.data.titulo" placeholder="titulo"></ion-input>
          </ion-item>
          <ion-item>            
            <ion-input [(ngModel)]="documentLibro.data.ISBN" placeholder="ISBN"></ion-input>
          </ion-item>
          <ion-item>           
            <ion-input [(ngModel)]="documentLibro.data.autor" placeholder="Autor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="documentLibro.data.idioma" placeholder="Idioma"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="documentLibro.data.date" placeholder="Fecha"></ion-input>
          </ion-item>          
          <ion-button size="small" class="ios button button-small button-solid ion-activatable ion-focusable hydrated" (click)="uploadImagePicker()"> Subir Imagen</ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b><p>DESCRIPCION</p></b>
        </ion-col>
      </ion-row>
      <ion-row>         
        <ion-textarea [(ngModel)]="documentLibro.data.descripcion" placeholder="descripcion" rows="10" cols="20"></ion-textarea>
      </ion-row>
    </ion-grid>
    <ion-button id="modificar" (click)="clicBotonModificar()" >Modificar Libro</ion-button>
    <ion-button id="borrar" (click)="presentAlertConfirm()">Borrar Libro</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="irperfil()">
      <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-button>
    <ion-button slot="start" (click)="irinicio()">
      <ion-icon slot="icon-only" name="home" ></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="irbuscar()">
      <ion-icon slot="icon-only" name="search" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
