<ion-header>
  <ion-toolbar>
    <ion-title>
      Libros
    </ion-title>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let documentLibro of arrayColeccionLibros" (click)="selecLibro(documentLibro)">
      <ion-grid>
        <ion-row>
          <h2>{{documentLibro.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentLibro.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab  horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="insertar()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button slot="start" (click)="irperfil()">
      <ion-icon slot="icon-only" name="contact" ></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="irbuscar()">
      <ion-icon slot="icon-only" name="search" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>