<ion-header>
  <ion-toolbar>
    <ion-title>
      Libros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>LISTA DE LIBROS</h1>
  <ion-list>
    <ion-item *ngFor="let documentLibro of arrayColeccionLibros" (click)="selecLibro(documentLibro)">
      <ion-grid>
        <ion-row>
          <h2>{{documentLibro.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentLibro.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- <ion-button (click)="clicBotonBorrar()">Borrar Libro</ion-button> -->
    <!-- <ion-button (click)="clicBotonModificar()">Modificar Libro</ion-button> -->
  </ion-list>
</ion-content>
